* {
  margin: 0;
}
.nav-box {
  background-color: #2196F3;
  margin: 0 auto;
  width: 60%;
}
.nav-items {
  display: flex;
  justify-content: center;
}
.nav-button {
 backface-visibility: hidden;
 border: 0;
 border-radius: .375rem;
 box-sizing: border-box;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-family: Circular,Helvetica,sans-serif;
 font-size: 1.125rem;
 font-weight: 700;
 letter-spacing: -.01em;
 line-height: 1.3;
 padding: 1rem 1.25rem;
 position: relative;
 text-align: left;
 text-decoration: none;
 transform: translateZ(0) scale(1);
 transition: transform .2s;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
}

.nav-button:disabled {
  color: #787878;
  cursor: auto;
}

.nav-button:not(:disabled):hover {
  transform: scale(1.05);
}

.nav-button:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.nav-button:focus {
  outline: 0 solid transparent;
}

.nav-button:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.nav-button:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.nav-button:not(:disabled):active {
  transform: translateY(.125rem);
}
