// Place all the styles related to the States controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.state-index {
  h1 {
    font-size: 24px;
    color: #333;
  }

  .state-table {
    width: 50%;
    border-collapse: collapse;

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    tbody {
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }

    }
  }
}
